<template>
  <div
    class="shadow-xl relative"
  >
    <img
      class="h-56 w-full object-cover object-top rounded-t-md"
      :src="imgSource"
      :alt="imgAlt"
    >
    <div
      class="absolute top-44 bg-white w-5/6 left-1/2 -translate-x-1/2 p-6 shadow-xl rounded-md"
    >
      <h2
        class="text-3xl font-bold text-center tracking"
      >
        {{ heading }}
      </h2>
    </div>
    <div
      class=""
    >
<!--      TODO the pt in the following created problems when the heading does not fit in one line-->
      <p
        class="pt-12 pb-8 px-6"
      >{{ text }}</p>
      <button
        class="bg-teal-400 py-4 w-full rounded-b-md"
      >
        Mehr erfahren
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ImageTeaser',
  props: {
    heading: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    imgSource: {
      type: String,
      required: true
    },
    imgAlt: {
      type: String,
      required: true
    }
  }
})
</script>
