@tailwind base;
@tailwind components;
@tailwind utilities;

.button-icon {
    @apply mr-2 w-6 h-6 stroke-current;
}

.button {
    @apply px-4 py-3 rounded-xl border border-gray-300 text-gray-700 cursor-pointer transition-colors duration-300 hover:bg-gray-500 hover:text-white;
}

.content {
    @apply px-6 pt-12 pb-24 md:max-w-screen-sm lg:max-w-screen-lg md:m-auto;
}
