<template>
  <article
    class="px-6 mt-40 md:max-w-screen-md mx-auto pb-48"
  >
    <img
      src="/src/assets/img/day8/undraw_page_not_found.svg"
      alt="Page Not Found Image"
    >
    <div
      class="text-center pt-12 "
    >
      <h1
        class="text-2xl mb-8"
      >
        Nicht das gefunden was du suchst?
      </h1>
      <router-link
        class="button bg-teal-300"
        :to="{name: routes[Math.floor(Math.random()*routes.length - 1)].name}"
      >Hier geht es zu einer zufälligen DailyUI Lösung
      </router-link>
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { routes } from '../router'

export default defineComponent({
  name: '_404',
  data () {
    return {
      routes: routes
    }
  }
})
</script>
