<template>
  <article class="mt-32 px-6 md:py-6 md:mx-auto md:max-w-screen-sm md:bg-blue-100 md:rounded-lg md:shadow-2xl">
    <h2 class="text-center text-blue-900 text-3xl tracking-tight">Melde dich jetzt zum Design Contest an!</h2>
    <div class="text-center text-blue-400">Gewinne einzigartige Preise</div>
    <div class="flex flex-col">
      <label class="flex flex-col pt-8">
        <span class="text-sm text-blue-400 mb-1">Name</span>
        <input class="h-12 rounded-lg border border-blue-300 shadow-inner px-4" type="text" placeholder="Jane Doe">
      </label>
      <label class="flex flex-col pt-8">
        <span class="text-sm text-blue-400 mb-1">Email Adresse</span>
        <input class="h-12 rounded-lg border border-blue-300 shadow-inner px-4" type="email"
               placeholder="jane.doe@gmail.com">
      </label>
      <div class="flex mt-6">
        <label class="flex items-center">
          <input type="checkbox" class="form-checkbox w-6 h-6 text-purple-600">
          <span class="ml-2 text-blue-800">Ich akzeptiere die <span
            class="underline">Datenschutzbedingungen</span></span>
        </label>
      </div>
      <div class="flex justify-center">
        <d-button
          class="mt-12"
        >
          Anmelden
        </d-button>
      </div>
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import DButton from '../components/DButton.vue'

export default defineComponent({
  name: 'Day1',
  components: { DButton },
  methods: {
    login () {
      alert('Brudi was erwartest du? Das ist eine UI- Showcase Seite 😉')
    }
  }
})
</script>

<style scoped>

.underline {
  text-decoration: underline;
  text-decoration-color: #34126F;
}
</style>
