<template>
  <article
    class="px-6 pt-12 pb-24 md:max-w-screen-sm md:m-auto"
  >
    <section
      class="h-40 flex flex-col justify-between"
    >
      <FlashMessage
        :type="FlashType.HINT"
        v-show="showFlashHint"
        message="Hinweis!"
      />
      <FlashMessage
        :type="FlashType.ERROR"
        v-show="showFlashError"
        message="Fehler!"
      />
      <FlashMessage
        :type="FlashType.SUCCESS"
        v-show="showFlashSuccess"
        message="Erfolg!"
      />
    </section>
    <section
      class="flex justify-center pt-16"
    >
      <d-button
        @click="triggerFlash()"
      >
        Was hier wohl passiert🤔
      </d-button>
    </section>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import DButton from '../components/DButton.vue'
import FlashMessage from '../components/FlashMessage.vue'
import { FlashType } from '../components/helper/FlashType'

export default defineComponent({
  name: 'Day11',
  components: { FlashMessage, DButton },
  data () {
    return {
      showFlashError: false,
      showFlashHint: false,
      showFlashSuccess: false,
      FlashType
    }
  },
  methods: {
    triggerFlash (): void {
      this.showFlashHint = true
      setTimeout(() => {
        this.showFlashHint = false
      }, 3000)

      setTimeout(() => {
        this.showFlashError = true
        setTimeout(() => {
          this.showFlashError = false
        }, 3000)
      }, 50)

      setTimeout(() => {
        this.showFlashSuccess = true
        setTimeout(() => {
          this.showFlashSuccess = false
        }, 3000)
      }, 100)
    }
  }
})
</script>

<style scoped>

</style>
