<template>
  <article
    class="px-6 pt-12 pb-24 md:max-w-screen-sm md:m-auto"
  >
    <h1
      class="text-3xl text-center"
    >
      Teile dieses DailyUI Portfolio!
    </h1>
    <section
      class="flex justify-center pt-10"
    >
      <SocialShare />
    </section>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import SocialShare from '../components/SocialShare.vue'

export default defineComponent({
  name: 'Day10',
  components: { SocialShare }
})
</script>
