<template>
  <article
    class="content lg:grid lg:grid-cols-2 lg:gap-6"
  >
    <FullsizeImageSlider
      :images="images"
    />
    <section
      class="pt-4"
    >
      <h1
        class="text-2xl font-semibold pb-2"
      >
        Spa- Seife
      </h1>
      <h2
        class="text-sm"
      >
        handgefertigte Seite aus einer Hamburger <br>Manufaktur
      </h2>
      <div
        class="flex justify-between items-end pt-4"
      >
        <p>100g: 24€</p>
        <h3>
          <span
            class="font-xs text-gray-400"
          >
            Stück:
          </span>
          <span
            class="text-xl"
          >
            13,99€
          </span>
        </h3>
      </div>
      <d-button
        id="cta"
        class="w-full md:w-1/2 md:translate-x-1/2 bg-purple-400 bg-purple-300"
      >
        Jetzt Kaufen
      </d-button>
    </section>
    <section
      class="infoSection mt-8"
    >
      <h4
        class="infoSectionHeadline"
      >
        Einzelheiten
      </h4>
      <ul
        id="usps"
      >
        <li><span class="font-semibold">handgefertigt</span> in einer Manufaktur in Hamburg Rotherbaum</li>
        <li>besonders <span class="font-semibold">sanft</span> zur Haut</li>
        <li>verschiedene Materialien & Texturen</li>
        <li>Bedenke dass du nur <span class="font-semibold">eine Seife zur Zeit</span> bestellen kannst. Aufgrund der hohen Nachfrage können wir
          derzeit
          keine Großbestellungen ausliefern
        </li>
      </ul>
    </section>
    <section
      class="infoSection lg:mt-8"
    >
      <h4
        class="infoSectionHeadline"
      >
        Bewertungen
      </h4>

      <div>
        <div
          class="flex justify-between items-baseline"
        >
          <h5
            class="text-lg italic pb-1"
          >
            Großartig!
          </h5>
          <p
            class="text-xs text-gray-600"
          >11.12.2021</p>
        </div>
        <p
          class="text-justify"
        >
          Mein Favorit war die Nuss- Seife. Immer wenn ich sie nutze, erfüllt dies das ganze Badezimmer mit einem
          lieblichen Geruch.
          Um die Seife tagtäglich zu nutzen ist sie mir etwas zu teuer, dafür kann man sich das Parfüm sparen wenn man
          sie nutzt.
          Meinem Mann gefällt sie auch sehr und wir freuen uns schon die anderen auszuprobieren.</p>
      </div>
    </section>
    <section
      class="infoSection lg:col-span-2"
    >
      <h4
        class="infoSectionHeadline"
      >
        Herstellung
      </h4>
      <p>
        Die Hamburger Manufaktur stellt alle Seifen in Handarbeit her. Dadurch können die hohen Qualitätsstandards
        gehalten werden.
        <br><br>
        Die Rohstoffe der Seifen stammen alle aus der Region. Wir achten darauf diese zu fairen Preisen einzukaufen
        und glauben dass wir nur so großartige Produkte herstellen können.
        <br><br>
        Für unsere Nuss- Seife importieren wir Mandeln aus Kalifornien und Walnüsse aus Griechenland, da diese hier
        nicht wachsen.
        <br><br>
        Wir haben in beiden Fällen direkten Kontakt zu den Herrstellern. Wenn du genaueres wissen möchtest, kontaktiere
        uns gern!
      </p>
    </section>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import FullsizeImageSlider from '../components/FullsizeImageSlider.vue'
import DButton from '../components/DButton.vue'
import imageURL1 from './../assets/img/day12/aurelia-dubois-6J0MUsmS4fQ-unsplash.jpg?url'
import imageURL2 from '../assets/img/day12/sincerely-media-gKqUuChJ83g-unsplash.jpg?url'
import imageURL3 from '../assets/img/day12/sincerely-media-7gZW8ZX6BqY-unsplash.jpg?url'
import imageURL4 from '../assets/img/day12/sincerely-media-6dIcIBw11ho-unsplash.jpg?url'

export default defineComponent({
  name: "Day12",
  components: {
    DButton,
    FullsizeImageSlider
  },
  setup () {
    const images = [
     imageURL1,
     imageURL2,
     imageURL3,
     imageURL4,
    ]
    return {
      images
    };
  }
})
</script>

<style scoped lang="postcss">

#usps {
  @apply list-disc ml-4;
}

#usps li {
  @apply pb-1.5;
}

.infoSection {
  @apply pt-2 pb-6 border-t border-gray-400;
}

.infoSectionHeadline {
  @apply text-xl font-semibold pb-4
}

#cta {
  @apply mt-4 text-white border-purple-800 hover:bg-purple-100 hover:text-gray-900 hover:border-purple-300 lg:mt-24;
}
</style>
