<template>
  <article class="mt-32 px-6 mb-20 md:mx-auto md:max-w-screen-md lg:max-w-screen-md xl:max-w-screen-lg">
    <p class="text-center text-3xl text-blue-900 tracking-tight">Überprüfe hier deine Kredikarten Daten!</p>
    <div class="flex flex-row h-8 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6">
        <path fill="#34126F"
              d="M11 12a1 1 0 0 1 0-2h2a1 1 0 0 1 .96 1.27L12.33 17H13a1 1 0 0 1 0 2h-2a1 1 0 0 1-.96-1.27L11.67 12H11zm2-4a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
      </svg>
      <p class="text-center text-blue-400 text-sm">Erfahre mehr</p>
    </div>
    <section
      class="lg:grid lg:grid-cols-2 md:gap-12"
    >
      <CreditCard
        :year="year"
        :month="month"
        :cardowner="cardowner"
        :cardType="pickedCard"
        :checknumber="checknumber"
        :cardnumber="cardnumber"
      />
      <div>
        <div
          class="h-20 px-4 rounded-lg my-4 bg-white shadow-md flex flex-row-reverse justify-between items-center"
          @click="pickedCard = 'visa'"
          :class="{ activeCard: pickedCard === 'visa'}">
          <label>
            <span>Visa Card</span>
            <input
              class="ml-2 w-5 h-5 form-radio text-teal-600"
              type="radio"
              name="payment_method"
              value="visa"
              v-model="pickedCard"
              checked
            >
          </label>
          <img
            class="h-12"
            src="../../src/assets/icons/visa.svg"
            alt="Visa Card Icon"
          >
        </div>
        <div
          class="h-20 px-4 rounded-lg my-4 bg-white flex flex-row-reverse shadow-md justify-between items-center"
          @click="pickedCard = 'mastercard'"
          :class="{ activeCard: pickedCard === 'mastercard'}"
        >
          <label>
            <span>MasterCard</span>
            <input
              class="w-5 h-5 ml-2 form-radio text-teal-600"
              type="radio" name="payment_method"
              value="mastercard"
              v-model="pickedCard"
            >
          </label>
          <img
            class="h-12"
            src="../../src/assets/icons/mastercard.svg"
            alt="Master Card Icon"
          >
        </div>
        <div
          class="h-20 px-4 rounded-lg my-4 bg-white shadow-md flex flex-row-reverse justify-between items-center"
          @click="pickedCard = 'amex'"
          :class="{ activeCard: pickedCard === 'amex'}"
        >
          <label>
            <span>American Express</span>
            <input
              class="w-5 h-5 ml-2 form-radio text-teal-600"
              type="radio"
              name="payment_method"
              value="amex"
              v-model="pickedCard"
            >
          </label>
          <img class="h-12" src="../../src/assets/icons/american_express.svg"
               alt="American Express Icon">
        </div>
      </div>
    </section>
    <div
      class="mt-4 lg:mt-12 lg:grid lg:grid-cols-2 gap-12"
    >
      <div class="py-2 lg:py-0">
        <div>
          <label class="flex flex-col">
            <span class="text-blue-900">Karten- Nummer</span>
            <input
              class="textInput"
              @keypress="isNumber($event)"
              type="tel"
              :value="formattedCCNumber"
              :maxlength="(pickedCard === 'amex' ? 15 : 16) + 3"
              @input="changeCCNumber($event)">
          </label>
        </div>
        <div class="py-2">
          <label class="flex flex-col">
            <span class="text-blue-900">Karteninhaber</span>
            <input
              class="textInput"
              type="text"
              v-model="cardowner"
            >
          </label>
        </div>
      </div>
      <div>
        <div class="grid grid-cols-2 gap-2">
          <MonthSelect v-model="month"/>
          <YearSelect v-model="year"></YearSelect>
        </div>
        <div class="grid grid-cols-2 gap-2 lg:py-2">
          <label>
            <span>Prüfnummer</span>
            <input
              class="h-12 w-full rounded-lg border border-blue-300 shadow-inner px-4"
              type="number"
              v-model="checknumber"
            >
          </label>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <d-button
        class="mt-12"
        @click="validateCreditCard()"
      >
        <span>
          Kreditkarte prüfen
        </span>
      </d-button>
    </div>
  </article>
  <div
    class="text-center"
  >
    Hinweis: Funktioniert aktuell nicht korrekt
  </div>
</template>

<script lang="ts">

import { defineComponent } from 'vue'
import DButton from '../components/DButton.vue'
import MonthSelect from '../components/day2/MonthSelect.vue'
import YearSelect from '../components/day2/YearSelect.vue'
import CreditCard from '../components/day2/CreditCard.vue'

export default defineComponent({
    name: 'Day2',
    components: { CreditCard, YearSelect, MonthSelect, DButton },
    data () {
      return {
        pickedCard: 'visa',
        month: 'MM',
        year: '0',
        cardowner: 'Patrik Simms',
        cardnumber: '0',
        checknumber: '0',
        luhnArr: [0, 2, 4, 6, 8, 1, 3, 5, 7, 9]
      }
    },
    methods: {
      isNumber (evt: KeyboardEvent) {
        const charCode = evt.keyCode
        if ((31 < charCode && (48 > charCode || 57 < charCode)) && 46 !== charCode) {
          evt.preventDefault()
          return
        } else {
          return true
        }
      },
      validateCreditCard () {
        const currTime = new Date()
        const timeValid = (+this.year > currTime.getFullYear()) || (+this.year === currTime.getFullYear() && +this.month <= currTime.getMonth())
        const cardValid = this.luhnValid(this.cardnumber) && timeValid && this.cardowner && this.checknumber

        if (cardValid) {
          alert('Card is valid')
        } else {
          alert('Card is not valid')
        }
      },
      luhnValid (ccNumber: string) {
        let counter = 0
        let incNum
        let odd = false
        const temp = String(ccNumber).replace(/[^\d]/g, '')
        if (0 === temp.length) {
          return false
        }
        for (let i = temp.length - 1; 0 <= i; --i) {
          incNum = parseInt(temp.charAt(i), 10)
          // eslint-disable-next-line no-cond-assign
          counter += (odd = !odd) ? incNum : this.luhnArr[incNum]
        }
        return (0 === counter % 10)
      },
      changeCCNumber (event: Event) {
        // eslint-disable-next-line @typescript-eslint/ban-ts-comment
        // @ts-ignore
        this.cardnumber = event?.target.value.replace(/ /g, '')
      }
    },
    computed: {
      formattedCCNumber: function (context: any) {
        return context.cardnumber ? context.cardnumber.match(/.{1,4}/g).join(' ') : ''
      }
    }
  }
)
</script>

<style lang="postcss" scoped>
.textInput {
  @apply border rounded-lg px-4 py-2 w-full;
}
</style>
