<template>
  <article
    class="pb-20"
  >
    <section>
      <img
        class="h-screen object-cover w-screen brightness-50 -translate-y-16"
        src="../../src/assets/img/day3/marc-buddha-beans-coffee-co-W94GdUVpcho-unsplash.jpg"
        alt="Buddha Coffee Beans"
        style="object-position: 57% center"
      >
      <div
        class="absolute top-96 lg:top-1/3 text-teal-900 p-6 mx-6 bg-teal-050 rounded-md"
      >
        <h1
          class="text-4xl font-bold tracking-wide w-64"
        >
          Buddha Coffee Beans
        </h1>
        <p
          class="pt-6 text-xl"
        >
          Hochwertiger und nachhaltig produzierter Kaffee mit CBD
        </p>
        <button
          class="mt-6 bg-teal-300 shadow-lg px-4 py-2 text-teal-9ßß w-full rounded-md"
        >
          Erkunde die ganze Vielfalt
        </button>
      </div>
      <div
        class="absolute left-1/2 bottom-4 -translate-x-1/2"
      >
        <img
          class="w-10 animate-bounce-slow"
          src="../../src/assets/img/chevron-double-down.svg"
          alt="scroll down"
        ></div>
    </section>
    <section
      class="px-6 lg:max-w-screen-lg lg:mx-auto lg:grid lg:gap-12 lg:grid-cols-2"
    >
      <image-teaser
        class="mb-12"
        heading="Hochwertig"
        text="Sorgfältig ausgewählte Kaffeebohnen mit Schokoladen, Nuss und Zitrus Character"
        img-alt="Kaffeeverpackung"
        :img-source="images.beanSelection"
      />
      <image-teaser
        class="mb-12"
        heading="Nachhaltigkeit"
        text="Fair gehandelte Kaffeebohnen aus Mexiko und vor Ort in Los Angeles geröstet"
        img-alt="Kaffeeverpackung"
        :img-source="images.roastery"
      />
    </section>
    <p
      class="text-sm text-teal-300 text-center"
    >Inspired by <a
      class="underline cursor-pointer"
      href="https://buddhabeanscoffee.com">https://buddhabeanscoffee.com
    </a>
    </p>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ImageTeaser from '../components/day3/ImageTeaser.vue'
import roastery from '../assets/img/day3/milo-miloezger-rKYRJu0n06Y-unsplash.jpg'
import beanSelection from '../assets/img/day3/rodrigo-flores-T5qjs-63kqQ-unsplash.jpg'

export default defineComponent({
  components: { ImageTeaser },
  data () {
    return {
      images: {
        roastery: roastery,
        beanSelection: beanSelection
      }
    }
  }
})
</script>
