<template>
  <div
    class="px-6 pt-12 max-w-screen-sm mx-auto"
  >
    <input
      class="text-xl rounded-lg border border-gray-300 px-4 py-4 w-full"
      type="text"
      disabled
      v-model.number="result"
    >
    <div
      class="grid gap-2 grid-cols-4 pt-4"
    >
      <button
        class="calculator-button"
        @click="inputOperator('AC')"
        :class="{'active-operator': clickedButtonSymbol === 'AC'}"
      >
        AC
      </button>
      <button
        id="btn-negative"
        class="calculator-button"
        @click="inputOperator('+/-')"
        :class="{'active-operator': clickedButtonSymbol === '+/-'}"
      >+/-
      </button>
      <button
        class="calculator-button"
        @click="inputOperator('%')"
        :class="{'active-operator': lastOperator === '%' || clickedButtonSymbol === '%'}"
      >%
      </button>
      <button
        class="calculator-button"
        @click="inputOperator('÷')"
        :class="{'active-operator': lastOperator === '÷' || clickedButtonSymbol === '÷'}"
      >÷
      </button>
      <button
        class="calculator-button"
        @click="inputNumber(7)"
        :class="{'active-operator': clickedButtonSymbol === '7'}"
      >7
      </button>
      <button
        class="calculator-button"
        @click="inputNumber(8)"
        :class="{'active-operator': clickedButtonSymbol === '8'}"
      >8
      </button>
      <button
        class="calculator-button"
        @click="inputNumber(9)"
        :class="{'active-operator': clickedButtonSymbol === '9'}"
      >9
      </button>
      <button
        class="calculator-button"
        @click="inputOperator('x')"
        :class="{'active-operator': lastOperator === 'x' || clickedButtonSymbol === 'x'}"
      >x
      </button>
      <button
        id="btn-4"
        class="calculator-button"
        @click="inputNumber(4)"
        :class="{'active-operator': clickedButtonSymbol === '4'}"
      >4
      </button>
      <button
        class="calculator-button"
        @click="inputNumber(5)"
        :class="{'active-operator': clickedButtonSymbol === '5'}"
      >5
      </button>
      <button
        class="calculator-button"
        @click="inputNumber(6)"
        :class="{'active-operator': clickedButtonSymbol === '6'}"
      >6
      </button>
      <button
        class="calculator-button"
        @click="inputOperator('-')"
        :class="{'active-operator': lastOperator === '-' || clickedButtonSymbol === '-'}"
      >-
      </button>
      <button
        class="calculator-button"
        @click="inputNumber(1)"
        :class="{'active-operator': clickedButtonSymbol === '1'}"
      >1
      </button>
      <button
        class="calculator-button"
        @click="inputNumber(2)"
        :class="{'active-operator': clickedButtonSymbol === '2'}"
      >2
      </button>
      <button
        class="calculator-button"
        @click="inputNumber(3)"
        :class="{'active-operator': clickedButtonSymbol === '3'}"
      >3
      </button>
      <button
        id="btn-plus"
        class="calculator-button"
        @click="inputOperator('+')"
        :class="{'active-operator': lastOperator === '+' || clickedButtonSymbol === '+'}"
      >+
      </button>
      <button
        class="calculator-button"
        @click="inputNumber(0)"
        :class="{'active-operator': clickedButtonSymbol === '0'}"
      >0
      </button>
      <button
        id="btn-colon"
        class="calculator-button"
        @click="inputOperator(',')"
        :class="{'active-operator': clickedButtonSymbol === ','}"
      >,
      </button>
      <button
        id="btn-calc"
        class="calculator-button col-span-2"
        @click="inputOperator('=')"
        :class="{'active-operator': clickedButtonSymbol === '='}"
      >=
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Day4',
  data () {
    return {
      currentResult: 0,
      currentNumber: 0,
      lastOperator: '',
      clickedButtonSymbol: '',
      decimalCount: 0
    }
  },
  methods: {
    inputOperator (operator: string) {
      this.toggleClickAnimation(operator)
      if (operator === 'AC') {
        this.resetAll()

      } else if (operator === '=') {
        this.calculateResult()

      } else if (operator === ',') {
        this.decimalCount = 1

      } else if (operator === '+/-') {

        // invert number
        this.currentNumber *= -1

      } else {
        // setting next binary operator
        this.decimalCount = 0
        this.lastOperator = operator
        this.currentResult = this.currentNumber
        this.currentNumber = 0
      }
    },
    inputNumber (number: number) {
      this.toggleClickAnimation(number.toString())

      if (this.decimalCount) {
        this.addDecimalDigit(number)
      } else {
        this.currentNumber = +('' + this.currentNumber + number)
      }
    },
    addDecimalDigit (digit: number) {
      if (this.decimalCount === 1) {
        this.currentNumber = +('' + this.currentNumber + '.' + digit)
      } else {
        this.currentNumber = +('' + this.currentNumber + digit)
      }
      this.decimalCount++
    },
    calculateResult () {
      this.decimalCount = 0
      this.calculateBinaryOperator(this.currentNumber, this.lastOperator)
      this.currentNumber = this.currentResult
      this.lastOperator = ''
    },
    toggleClickAnimation (operator: string) {
      const operators = ['+', '-', '%', '÷', 'x', 'AC', ',', '+/-', '=']
      if (operators.includes(operator) || !isNaN(+operator)) {
        this.clickedButtonSymbol = operator
        setTimeout(() => {
          this.clickedButtonSymbol = ''
        }, 100)
      }
    },
    calculateBinaryOperator (number: number, operator: string) {
      switch (operator) {
        case '+': {
          this.currentResult += number
          break
        }
        case '-': {
          this.currentResult -= number
          break
        }
        case '%': {
          this.currentResult %= number
          break
        }
        case 'x': {
          this.currentResult *= number
          break
        }
        case '÷': {
          this.currentResult /= number
          break
        }
      }
    },
    resetAll () {
      this.currentNumber = 0
      this.currentResult = 0
      this.lastOperator = ''
      this.decimalCount = 0
    }
  },
  computed: {
    result (): string {
      if (this.currentNumber) {
        return this.currentNumber.toString()
      }
      return this.currentResult.toString()
    }
  }
})
</script>

<style lang="postcss" scoped>
.calculator-button {
  @apply text-xl rounded-md border border-gray-300 py-4;
}

.active-operator {
  @apply bg-purple-200;
}
</style>
