<template>
  <article
    class="px-6 mt-32 max-w-screen-md mx-auto"
  >
    <section>
      <h1
        class="text-2xl text-center"
      >Ein selbst designtes App Icon</h1>
      <p
        class="pt-6 px-7"
      >Das Logo basiert auf einem Ensō Kreis, ein Smybol aus der japanischen Kaligraphie für Erleuchtung, Stärke, Eleganz, das Universum und die Leere</p>
    </section>
    <section
      class="pt-12"
    >
      <img
        class="w-80 mx-auto"
        src="../../src/assets/img/day5/logo.svg"
        alt=""
      >
      <img
        class="pt-12 w-32 mx-auto"
        src="../../src/assets/img/day5/appLogo.svg"
        alt=""
      >
      <img
        class="pt-12 w-80 mx-auto"
        src="../../src/assets/img/day5/app_on_homescreen.jpg"
        alt=""
      >
    </section>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Day 5'
})
</script>
