<template>
  <article
    class="px-6 pt-12 pb-24 md:max-w-screen-sm md:m-auto"
  >
    <h1 class="text-3xl">Mein Profil</h1>
    <section
      class="pt-6"
    >
      <div
        class="mb-6 relative"
      >
        <img
          class="w-20 h-20 object-cover"
          src="../../src/assets/img/day6/ben-parker-OhKElOkQ3RE-unsplash.jpg"
          alt=""
        >
        <d-button
          class="text-md absolute right-12 transform bottom-1/2 translate-y-1/2"
        >
          <span class="flex">
            <UploadIcon class="button-icon"/>
            Bild hochladen
          </span>
        </d-button>
      </div>
      <div>
        <d-input
          class="user-input"
          label="Vorname"
          placeholder="Max"
        />
        <d-input
          class="user-input"
          label="Nachname"
          placeholder="Mustermann"
        />
        <d-input
          class="user-input"
          label="e-mail"
          placeholder="max.mustermann@mail.de"
        />
        <d-input
          class="user-input"
          label="Telefonnummer"
          placeholder="0172 12341234"
        />
        <d-input
          class="user-input"
          label="Alter"
          placeholder="23"
        />
        <d-input
          class="user-input"
          label="Straße"
          placeholder="Mustestraße"
        />
        <d-input
          class="user-input"
          label="Hausnummer"
          placeholder="11"
        />
        <d-input
          class="user-input"
          label="PLZ"
          placeholder="123412"
        />
        <d-input
          class="user-input"
          label="Ort"
          placeholder="Musterstadt"
        />
        <d-input
          class="user-input lg:"
          label="Bundesland"
          placeholder="Hamburg"
        />
      </div>
    </section>
    <section
      class="mt-6 pt-6 border-t-2"
    >
      <d-button>
        <span class="flex">
          <SaveIcon class="button-icon"/>
          Speichern
        </span>
      </d-button>
    </section>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import DInput from '../components/DInput.vue'
import DButton from '../components/DButton.vue'
import { UploadIcon, SaveIcon } from '@heroicons/vue/outline'

export default defineComponent({
  name: 'Day6',
  components: { DButton, DInput, UploadIcon, SaveIcon }
})
</script>

<style lang="postcss">
.user-input {
  @apply mb-4;
}
</style>
