<template>
  <article
    class="px-6 pt-12 pb-24 md:max-w-screen-sm md:m-auto"
  >
    <h1 class="text-3xl">Einstellungen</h1>
    <section
      class="pt-6"
    >
      <h2
        class="sectionHeadline"
      >System</h2>
      <div
        class="flex justify-between"
      >
        <h3
        >Dark Mode</h3>
        <d-toggle
          :enabled="darkModeActive"
          @switch-value-changed="darkModeActive = $event"
          active-text="🌚️"
          in-active-text="🌞"
        />
      </div>
    </section>
    <section>
      <div>
        <h2
          class="sectionHeadline"
        >Marketing</h2>
        <div
          class="flex justify-between"
        >
          <h3
          >
            In- App Tracking
          </h3>
          <d-toggle
            active-class="bg-teal-500"
            :enabled="inAppTracking"
            @switch-value-changed="inAppTracking = $event"
          />
        </div>
        <p
          class="text-xs text-gray-600 w-5/6"
        >Erlaubt es Werbetreibenden Informationen über dein App- Nutzungsverhalten zu sammeln. Dies kann zu
          Werbezwecken genutzt werden. Wenn die dies nicht möchtest, deaktiviere diese option</p>
      </div>
    </section>
    <section>
      <div>
        <h2
          class="sectionHeadline"
        >
          Benachrichtigungen
        </h2>
        <div
          class="flex justify-between"
        >
          <h3>
            Angebote
          </h3>
          <d-toggle
            active-class="bg-teal-500"
            :enabled="deals"
            @switch-value-changed="deals = $event"
          />
        </div>
        <p
          class="pb-4 text-xs text-gray-600 w-5/6"
        >Erlaube der App, Push Benachrichtigungen für neue Angebote zu senden</p>
        <div
          class="flex justify-between"
        >
          <h3>
            Events
          </h3>
          <d-toggle
            active-class="bg-teal-500"
            :enabled="events"
            @switch-value-changed="events = $event"
          />
        </div>
        <p
          class="pb-4 text-xs text-gray-600 w-5/6"
        >Erlaubt der App, Push Benachrichtigungen für neue Events zu senden. Dies können bspw. Live Shopping Events sein</p>
        <div
          class="flex justify-between"
        >
          <h3>
            Bestellbestätigungen
          </h3>
          <d-toggle
            active-class="bg-teal-500"
            :enabled="orderConfirmations"
            @switch-value-changed="orderConfirmations = $event"
          />
        </div>
        <p
          class="pb-4 text-xs text-gray-600 w-5/6"
        >Erlaubt der App, Push Benachrichtigungen zu senden wenn deine Bestellung versendet wurde</p>
      </div>
    </section>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import DToggle from '../components/DToggle.vue'

export default defineComponent({
  name: 'Day7',
  components: { DToggle },
  data () {
    return {
      darkModeActive: false,
      inAppTracking: true,
      deals: false,
      events: true,
      orderConfirmations: true
    }
  }
})
</script>

<style lang="postcss" scoped>
section {
  @apply mb-8;
}

h3 {
  @apply text-lg;
}

.sectionHeadline {
  @apply text-2xl border-b pb-2 mb-4 border-gray-400;
}
</style>
