<template>
  <TabletAndUpOnly
    v-if="isSMBreakPoint()"
  />
  <article
    v-else
    class="mt-32 max-w-screen-md mx-auto select-none"
  >
    <div
      class="rounded-2xl shadow-2xl h-96 bg-gray-300"
    >
      <section
        class="p-6 grid grid-cols-12 gap-2"
      >
        <img
          :src="playlist[0].albumCoverURL"
          alt=""
          class="w-full rounded-2xl col-span-3"
        >
        <div
          class="px-4 pt-10 col-span-4"
        >
          <h3
            class="text-sm"
          >
            {{ playlist[0].albumName }}
          </h3>
          <h1
            class="text-xl font-semibold"
          >
            {{ playlist[0].songName }}
          </h1>
          <h2
            class="text-lg"
          >
            {{ playlist[0].artist }}
          </h2>
        </div>
        <div
          class="h-48 col-span-5"
        >
          <h4
            class="text-gray-600 border-b border-gray-400"
          >
            Nächste
          </h4>
          <transition-group
            name="playlist"
            tag="ul"
            id="playlist"
            enter-active-class="transition-all duration-1000"
            leave-active-class="transition-all duration-1000"
            enter-from-class="opacity-0 translate-y-10"
            leave-to-class="opacity-0 translate-y-10"
            move-class="bg-teal-700"
          >
            <li
              v-for="(song, index) in playlist.slice(1, 4)"
              class="flex items-center pt-2"
              :key="index"
            >
              <img
                :src="song.albumCoverURL"
                :alt="`Album Cover für ${song.albumName}`"
                class="w-12 h-12 rounded-md"
              >
              <div>
                <p
                  class="pl-2 text-xs text-gray-500"
                >
                  {{ song.songName }} - {{ song.artist }}
                </p>
              </div>
            </li>
          </transition-group>
        </div>
      </section>
      <section
        class="px-6 pt-4"
      >
        <div
          class="flex justify-between"
        >
          <div>
            {{ playedMinutes }}:{{ playedSeconds }}
          </div>
          <div>
            {{ leftMinutes }}:{{ leftSeconds }}
          </div>
        </div>
        <div
          class="w-full h-2 bg-teal-700 rounded-full"
        >
          <div
            class="h-full bg-teal-400 rounded-full transition-width duration-75"
            :style="`width: ${durationFillWidth}%`"
          />
        </div>
      </section>
      <section
        class="flex pt-6 px-48 justify-between"
      >
        <RewindIcon
          class="playerControlIcon"
          @click="previousTrack()"
        />
        <PauseIcon
          v-if="isPlaying"
          class="playerControlIcon"
          @click="togglePlay()"
        />
        <PlayIcon
          v-else
          class="playerControlIcon"
          @click="togglePlay()"
        />
        <FastForwardIcon
          class="playerControlIcon"
          @click="nextTrack()"
        />
      </section>
    </div>
  </article>
  <div
    class="text-center pt-32"
  >
    Hinweis: Animationen funktionieren aufgrund eines Bugs nicht korrekt
  </div>
</template>

<script lang="ts">
import { FastForwardIcon, PauseIcon, PlayIcon, RewindIcon } from '@heroicons/vue/outline'
import { computed, defineComponent, onBeforeMount, ref } from 'vue'
import { MUSIC_EXAMPLES, Song } from '../assets/day9/MUSIC_EXAMPLES'
import TabletAndUpOnly from '../components/TabletAndUpOnly.vue'

export default defineComponent({
    name: 'Day9',
    components: {
      TabletAndUpOnly,
      PlayIcon,
      FastForwardIcon,
      RewindIcon,
      PauseIcon
    },
    setup () {
      const playlist = ref<Song[]>([])
      const isPlaying = ref<boolean>(false)
      const playedMillis = ref<number>(0)
      let durationProgressCallback: number

      // https://stackoverflow.com/a/6274381/13130130
      function shuffle (songs: Song[]): Song[] {
        for (let i = songs.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [songs[i], songs[j]] = [songs[j], songs[i]];
        }
        return songs;
      }

      // higher update interval increases resolution of the progressBar animation
      function startSong (): void {
        const UPDATE_INTERVAL = 50
        durationProgressCallback = window.setInterval(() => {
          playedMillis.value += UPDATE_INTERVAL
        }, UPDATE_INTERVAL)
      }

      function pauseSong (): void {
        window.clearInterval(durationProgressCallback)
      }

      function nextTrack (): void {
        const lastPlayedTrack = playlist.value.shift() ?? MUSIC_EXAMPLES[0]
        playlist.value.push(lastPlayedTrack)
        playedMillis.value = 0
        if (isPlaying.value) {
          startSong()
        } else {
          playedMillis.value = 0
        }
      }

      function previousTrack (): void {
        const prevTrack = playlist.value.pop() ?? MUSIC_EXAMPLES[MUSIC_EXAMPLES.length - 1]
        playlist.value.unshift(prevTrack)
        playedMillis.value = 0
        if (isPlaying.value) {
          startSong()
        } else {
          playedMillis.value = 0
        }
      }

      function togglePlay (): void {
        if (isPlaying.value) {
          pauseSong()
        } else {
          startSong()
        }
        isPlaying.value = !isPlaying.value
      }

      onBeforeMount(() => {
        playlist.value = shuffle(MUSIC_EXAMPLES)
      })

      const playedMinutes = computed(() => {
        return Math.floor(playedMillis.value / 60000)
      })

      const playedSeconds = computed(() => {
        return (playedMillis.value % 60000 / 1000).toLocaleString('de-DE', {
          minimumIntegerDigits: 2,
          maximumFractionDigits: 0
        })
      })

      const leftMinutes = computed(() => {
        return Math.floor((playlist.value[0].durationInMillis - playedMillis.value) / 60000)
      })

      const leftSeconds = computed(() => {
        return ((playlist.value[0].durationInMillis - playedMillis.value) % 60000 / 1000).toLocaleString('de-DE', {
          minimumIntegerDigits: 2,
          maximumFractionDigits: 0
        })
      })

      // since this calculcation is done every UpdateInterval, the calculation is quite expensive.
      // One more performant solution would be a transition with the duration of durationMillis.
      // But this would need a "pausing" mechanism
      const durationFillWidth = computed(() => {
        return (playedMillis.value * 100 / playlist.value[0].durationInMillis).toFixed(4)
      })

      function isSMBreakPoint (): boolean {
        return window.innerWidth <= 768
      }

      return {
        playedMillis,
        playedMinutes,
        playedSeconds,
        leftMinutes,
        leftSeconds,
        isPlaying,
        playlist,
        togglePlay,
        nextTrack,
        previousTrack,
        isSMBreakPoint,
        durationFillWidth
      }
    }
  }
)</script>

<style scoped lang="postcss">

.playerControlIcon {
  @apply w-16 h-16 cursor-pointer;
}

#playlist {
  @apply relative;
}

/*https://stackoverflow.com/a/22666488/13130130*/
#playlist:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgb(212, 212, 216, 0), rgb(212, 212, 216, 1) 90%);
  width: 100%;
  height: 4em;
}
</style>
