<template>
  <div
    class="md:mx-auto md:max-w-screen-md lg:max-w-screen-md xl:max-w-screen-lg"
  >
    <div
      class="p-6"
    >
      <h1
        class="font-medium first-letter:text-5xl first-letter:font-bold first-letter:text-purple-500 leading-relaxed"
      >
        <span
          class="text-2xl"
        >
          Hallo
        </span>
        <br>
        Ich bin Patrik, ein {{ age }}-jähriger Softwareentwickler aus Hamburg.
        Das hier ist mein Portfolio zu der
        <a
          class="underline text-purple-600 text-lg font-semibold"
          href="https://www.dailyui.co"
          target="_blank"
        >
          DailyUI
        </a>
        Challenge.
        <a
          href="https://www.dailyui.co"
          target="_blank"
        >
          <img
            src="../assets/img/DailyUIScreenshot.png"
            alt="DailyUI Homepage Screenshot"
          >
        </a>
        <span
          class="font-semibold"
        >
          DailyUI
        </span>
        ist eine Serie von 100 Design Challenges mit dem Ziel, seine eigenen <span class="inline-block font-semibold">Designfähigkeiten</span>
        zu verbessern.
        <br>
        Ich nutze diese Challenges außerdem, um meine Fähigkeiten in
        <span
          class="font-semibold"
        >
          Frontendentwicklung
        </span> zu verbessern.
        Hierfür nutze ich einen Techstack aus
        <a
          class="link"
          href="https://v3.vuejs.org"
          target="_blank"
        >
          VueJS 3
        </a>,
        <a
          href="https://tailwindcss.com"
          class="link"
          target="_blank"
        >
          TailwindCSS
        </a>,
        <a
          href="https://headlessui.dev"
          class="link"
          target="_blank"
        >
          HeadlessUI
        </a>
        und
        <a
          href="https://heroicons.com"
          class="link"
          target="_blank"
        >
          Heroicons
        </a>.
        Falls es dir gefällt, kannst du es gern Teilen 😀
      </h1>
      <div
        class="flex justify-center pt-4"
      >
        <SocialShare />
      </div>
    </div>

    <div
      v-for="route in dayRoutes"
      :key="route.path"
    >
      <router-link
        :to="route.path"
        class="flex justify-between border-b border-gray-300"
      >
        <div
          class="mx-4 my-6"
        >
          <p
            class="text-sm text-blue-400"
          >
            {{ route.meta?.date }}
          </p>
          <h3
            class="font-semibold tracking-wide"
          >
            {{ route.meta?.description }}
          </h3>
          <p
            class="text-sm text-blue-400"
          >
            {{ route.name }}
          </p>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-8 mr-4 h-8 self-center"
          fill="#724BB7"
        >
          <path
            class="secondary"
            d="M10.3 8.7a1 1 0 0 1 1.4-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.4-1.4l3.29-3.3-3.3-3.3z"
          />
        </svg>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">

import { defineComponent } from 'vue'
import SocialShare from '../components/SocialShare.vue'
import { RouteRecordRaw } from 'vue-router'

export default defineComponent({
  name: 'Home',
  components: { SocialShare },
  computed: {
    dayRoutes (): RouteRecordRaw[] {
      return this.$router.options.routes.filter((e) => {
        const routeName: string = e.name?.toString() ?? ''
        return routeName.startsWith('Day')
      }).reverse()
    },
    age () {
      const birth = new Date(Date.UTC(1998, 3, 29))
      return new Date().getFullYear() - birth.getFullYear()
    }
  }
})
</script>

<style lang="postcss" scoped>
.link {
  @apply underline text-purple-400 font-semibold;
}
</style>
