<template>
  <button
    class="button"
  >
    <slot />
  </button>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'DButton'
  }
)</script>
