<template>
  <label class="block">
    <span
      class="block text-sm text-gray-500 px-1"
    >{{ label }}</span>
    <input
      class="border rounded-lg px-4 py-2 w-full"
      :type="inputType"
      :placeholder="placeholder"
    >
  </label>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'DInput',
  props: {
    label: {
      type: String,
      required: true
    },
    inputType: {
      type: String,
      required: false,
      default: 'text',
      validator: (value: string) => {
        return ['text'].includes(value)
      }
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    }
  }
})
</script>
