<template>
  <div>
    <Switch
      :model-value="enabled"
      @update:model-value="toggleSwitch($event)"
      :class="[enabled ? activeClass : inActiveClass, classes]"
      class="inline-flex items-center h-7 rounded-full w-11"
    >
    <span
      v-if="activeText !== '' && inActiveText !== ''"
      :class="enabled ? 'translate-x-6' : 'translate-x-1.5'"
      style="margin-left: -3px"
      class="inline-block w-4 h-4 transform bg-transparent rounded-full leading-4"
    >{{ enabled ? activeText : inActiveText }}</span>
      <span
        v-else
        :class='enabled ? "translate-x-5 bg-teal-500" : "translate-x-1 bg-white"'
        class="inline-block w-5 h-5 transition-transform transform bg-white rounded-full"
      />
    </Switch>
  </div>
</template>

<script>
import { Switch } from '@headlessui/vue'

export default {
  name: 'DToggle',
  components: { Switch },
  props: {
    activeClass: {
      type: String,
      default: 'bg-gray-300'
    },
    inActiveClass: {
      type: String,
      default: 'bg-gray-600'
    },
    classes: {
      type: String,
      default: '',
    },
    // has to be an emoji
    activeText: {
      type: String,
      default: '',
      validate (value) {
        return value?.length === 1
      }
    },
    // has to be an emoji
    inActiveText: {
      type: String,
      default: '',
      validate (value) {
        return value?.length === 1
      }
    },
    enabled: {
      type: Boolean,
      default: false
    }
  },
  emits: [
    'switchValueChanged'
  ],
  methods: {
    toggleSwitch (newValue) {
      this.$emit('switchValueChanged', newValue)
    }
  }
}
</script>
