<template>
  <transition name="flash">
    <div
      class="w-full rounded-xl px-4 py-2 text-lg"
      :class="flashType"
    >
      <div
        class="flex items-center"
      >
        <ExclamationIcon
          v-if="flashType === 'error'"
          class="text-red-600 h-5 pr-2"
        />
        <InformationCircleIcon
          v-if="flashType === 'hint'"
          class="text-yellow-600 h-5 pr-2"
        />
        <CheckCircleIcon
          v-if="flashType === 'success'"
          class="text-teal-600 h-5 pr-2"
        />
        {{ message }}
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { FlashType } from './helper/FlashType'
import { ExclamationIcon, InformationCircleIcon, CheckCircleIcon } from '@heroicons/vue/outline'

export default defineComponent({
  name: 'FlashMessage',
  components: {
    ExclamationIcon,
    InformationCircleIcon,
    CheckCircleIcon
  },
  props: {
    message: {
      type: String,
      required: true
    },
    type: {
      type: Number as PropType<FlashType>,
      default: FlashType.HINT
    }
  },
  computed: {
    flashType (): string {
      switch (this.type) {
        case FlashType.SUCCESS: {
          return 'success'
        }
        case FlashType.HINT: {
          return 'hint'
        }
        case FlashType.ERROR: {
          return 'error'
        }
      }
      return ''
    }
  }
})
</script>

<style scoped lang="postcss">

.flash-enter-active,
.flash-leave-active {
  transition: all .4s ease-out;
}

.flash-enter-from,
.flash-leave-to {
  @apply translate-x-full;
  @apply opacity-0;
}

.success {
  @apply bg-teal-400/40 border border-teal-600 text-teal-800;
}

.hint {
  @apply bg-yellow-400/40 border border-yellow-600 text-yellow-800;
}

.error {
  @apply bg-red-400/40 border border-red-600 text-red-800;
}

</style>
