<template>
  <swiper
    :slides-per-view="1"
    :space-between="50"
    navigation
    :modules="modules"
  >
    <swiper-slide
      v-for="(image, index) in images"
      :key="index"
    >
      <img
        class="h-96 w-full mx-auto object-cover"
        :src="image"
        :alt="`Produkt Bild ${index}`"
      >
    </swiper-slide>
  </swiper>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { Swiper, SwiperSlide } from 'swiper/vue';

import 'swiper/css';
import 'swiper/css/navigation';
import { Navigation } from 'swiper'

export default defineComponent({
  name: "Fullsize",
  props: {
    images: {
      type: Array as PropType<string[]>,
      required: true
    }
  },
  components: {
    Swiper,
    SwiperSlide
  },
  setup () {
    return {
      modules: [Navigation]
    }
  }
})
</script>

<style lang="postcss">

.swiper {
  @apply w-full;
}

.swiper-button-next,
.swiper-button-prev {
  @apply bg-white text-purple-700 py-8 px-5 rounded-md;
}
</style>
