<template>
  <nav
    class="flex h-16 items-center justify-between fixed top-0 z-10 w-screen"
    :class="store.getters.headerBaseColor"
  >
    <router-link
      tag="a"
      :to="{name: 'Home'}"
      class="text-white text-teal-050 text-2xl mx-4"
    >
      Daily UI - Patrik Simms
    </router-link>
    <div
      class="cursor-pointer xl:hidden"
      @click="toggleMobileNav()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-8 mr-4 icon-menu"
        fill="#F0FCF9">
        <path
          class="secondary"
          fill-rule="evenodd"
          d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
        />
      </svg>
    </div>
  </nav>
  <div
    class="w-1/6 h-20 absolute top-0 left-0 bg-white z-50"
    v-show="mobileNavOpen"
  >
    <img
      src="/src/assets/icons/close.svg"
      alt="close mobile nav"
      class="cursor-pointer max-h-24"
      @click="toggleMobileNav()"
    >
  </div>
  <nav
    v-show="mobileNavOpen"
    class="w-screen fixed top-0 left-1/6 w-5/6 h-screen bg-white z-50 overflow-y-scroll"
  >
    <ul
      class="mt-36 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 grid col-end-3 gap-10"
    >
      <li
        v-for="(route, index) in routeList"
        :key="index"
      >
        <router-link
          @click="toggleMobileNav"
          :to="{name: route.name}"
          class="nav-services mobile-nav-item"
        >
          {{ route.name }}
        </router-link>
      </li>
    </ul>
  </nav>
  <teleport
    to="#dim-background">
    <div
      id="dim-background"
      :class="{hidden: !mobileNavOpen}"
      class="fixed inset-0 bg-gray-900 w-screen h-screen opacity-30 z-20"
      @click="toggleMobileNav"
    />
  </teleport>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useStore } from '../store'
import { routes } from '../router'

export default defineComponent({
  name: 'Navbar',

  setup () {
    const mobileNavOpen = ref(false)

    const store = useStore()

    function toggleMobileNav () {
      mobileNavOpen.value = !mobileNavOpen.value
    }

    const routeList = routes

    return {
      routeList,
      store,
      mobileNavOpen,
      toggleMobileNav
    }
  }
})
</script>

<style scoped lang="postcss">
.mobile-nav-item {
  @apply inline-block w-full text-2xl cursor-pointer text-center border-teal-500;
}

.nav-item {
  @apply text-xl border-teal-500 cursor-pointer;
}
</style>
