<template>
  <Dialog
    :open="isOpen"
    class="fixed inset-0 z-10 overflow-y-auto"
  >
    <div class="flex items-center justify-center min-h-screen">
      <DialogOverlay
        class="fixed inset-0 bg-gray-900 opacity-50"
      />
      <div
        class="absolute max-w-screen-md px-10 pt-6 pb-10 mx-auto bg-white dark:bg-gray-700 dark:text-gray-200 rounded-lg shadow-lg"
      >
        <DialogTitle
          class="text-2xl font-bold tracking-wider pb-4"
        >
          Teilen
        </DialogTitle>
        <section
          class="mt-4"
        >
          <XIcon
            class="h-6 absolute right-4 top-4 cursor-pointer"
            @click="$emit('closeModal')"
          />
          <ul
            class="shareList"
          >
            <li>
              <a
                class="button"
                :href="`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(baseURL)}`"
                target="_blank"
              >
                <img
                  src="../assets/icons/fontawesome/facebook-f-brands.svg"
                  alt="facebook logo"
                >
                Facebook
              </a>
            </li>
            <li>
              <a
                class="button"
                :href="`whatsapp://send?text=${encodeURIComponent(baseURL)}`"
                target="_blank"
              >
                <img
                  src="../assets/icons/fontawesome/whatsapp-brands.svg"
                  alt="whatsapp logo"
                >
                Whatsapp
              </a>
            </li>
            <li>
              <a
                class="button"
                :href="`https://telegram.me/share/url?url=${encodeURIComponent(baseURL)}`"
                target="_blank"
              >
                <img
                  src="../assets/icons/fontawesome/telegram-plane-brands.svg"
                  alt="telegram logo"
                >
                Telegram
              </a>
            </li>
            <d-button
              @click="copyLinkToClipBoard()"
            >
              <LinkIcon
                class="h-4 pr-2"
              />
              Link kopieren
            </d-button>
          </ul>
        </section>
      </div>
    </div>
  </Dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import DButton from './DButton.vue'
import { Dialog, DialogOverlay, DialogTitle } from '@headlessui/vue'
import { LinkIcon, XIcon } from '@heroicons/vue/outline'

export default defineComponent({
  name: 'ShareModal',
  components: { DButton, Dialog, DialogOverlay, DialogTitle, LinkIcon, XIcon },
  props: {
    isOpen: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      baseURL: import.meta.env.VITE_PROD_URL + '' ?? ''
    }
  },
  methods: {
    copyLinkToClipBoard (): void {
      navigator.clipboard.writeText(this.baseURL)
      alert('In die Zwischenablage kopiert!')
    }
  },
  emits: ['closeModal']
})
</script>

<style scoped>

.shareList {
  @apply grid grid-cols-1 gap-4;
}

.shareList .button {
  @apply flex items-center;
}

.shareList img {
  @apply h-4 pr-2;
}
</style>
