<template>
  <d-button
    @click="modalOpen = true"
  >
    <span class="flex items-center">
      <ShareIcon
        class="h-4 pr-2"
      />
      Teilen
    </span>
  </d-button>
  <ShareModal
    :is-open="modalOpen"
    @close-modal="modalOpen = false"
  />
</template>

<script>
import { defineComponent } from 'vue'
import { ShareIcon } from '@heroicons/vue/outline'
import DButton from './DButton.vue'
import ShareModal from './ShareModal.vue'

export default defineComponent({
  name: 'SocialShare',
  components: { ShareModal, DButton, ShareIcon },
  data () {
    return {
      modalOpen: false
    }
  }
})
</script>

<style scoped>

</style>
