<template>
  <article
    class="px-6 mt-40 md:max-w-screen-md mx-auto pb-48"
  >
    <img
      src="/src/assets/img/undraw_devices.svg"
      alt="Page Not Found Image"
    >
    <div
      class="text-center pt-12 "
    >
      <h1
        class="text-2xl mb-8"
      >
        Diese Aufgabe ist nur für Tablet und Desktop optimiert! Bitte wechsle auf eines dieser Geräte, um
        {{ $route.name }} zu sehen
      </h1>
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TabletAndUpOnly'
})
</script>
