<template>
  <div class="py-4">
    <div class="relative mx-auto" style="max-width: 375px">
      <img
        src="../../assets/day2/card-background.jpg"
        alt="Credit Card Background"
        class="rounded-2xl mx-auto shadow-2xl">
      <img
        src="../../assets/day2/chip.png"
        alt="Credit Card Chip Image"
        class="absolute top-1/3 left-8 h-12">
      <img
        :src="cardImage"
        alt="Credit Card Type Logo"
        class="absolute top-6 right-6 h-12">
      <p
        class="font-credc text-blue-050 absolute tracking-widest"
        id="card-number">{{ formatCC }}</p>
      <p
        class="absolute bottom-8 left-8 font-credc text-blue-050 tracking-widest uppercase"
      >{{ cardowner }}</p>
      <p
        class="absolute bottom-8 right-8 font-credc text-blue-050 tracking-widest uppercase"
      >{{ getMonthNumber }} /
        {{ getYearShorthand }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue'

export default defineComponent({
    name: 'CreditCard',
    props: {
      month: {
        type: String as PropType<string>,
        required: true,
        validator: (value: string) => {
          const months = {
            MM: 0,
            Januar: 1,
            Februar: 2,
            März: 3,
            April: 4,
            Mai: 5,
            Juni: 6,
            Juli: 7,
            August: 8,
            September: 9,
            Oktober: 10,
            November: 11,
            Dezember: 12
          }
          return Object.prototype.hasOwnProperty.call(months, value)
        }
      },
      year: {
        type: String,
        required: true,
        validator (value: string) {
          const numericValue = +value
          return (2020 <= numericValue && 2030 > numericValue) || 0 === numericValue
        }
      },
      cardowner: {
        type: String,
        required: true
      },
      cardType: {
        type: String,
        validator (value: string) {
          const cardTypes = [
            'visa',
            'mastercard',
            'amex'
          ]
          return cardTypes.includes(value)
        }
      },
      cardnumber: {
        type: String as PropType<string>,
        required: true
      },
      checknumber: {
        type: String as PropType<string>,
        required: true
      }
    },
    setup (props: {cardnumber: string, cardowner: string, cardType: string | undefined, month: string, year: string}) {
      const months = {
        MM: 0,
        Januar: 1,
        Februar: 2,
        März: 3,
        April: 4,
        Mai: 5,
        Juni: 6,
        Juli: 7,
        August: 8,
        September: 9,
        Oktober: 10,
        November: 11,
        Dezember: 12
      }

      const getMonthNumber = computed(() => {
        // @ts-ignore
        return months[props.month].toString().padStart(2, '0')
      })

      const getYearShorthand = computed(() => {
        return ('00' + (+props.year % 200)).slice(-2)
      })

      const cardImage = computed(() => {
        switch ('' + props.cardType) {
          case'visa':
            return '../src/assets/day2/visa_white.png'
          case 'mastercard' :
            return '../src/assets/day2/mastercard_white.png'
          case 'amex' :
            return '../src/assets/day2/cc-amex-brands.svg'
        }
        return ''
      })

      const formatCC = computed(() => {
        const v = ('' + props.cardnumber).replace(/\s+/g, '').replace(/[^0-9]/gi, '')
        const matches = v.match(/\d{4,16}/g)
        const match = (matches && matches[0]) || ''
        const parts = []

        for (let i = 0, len = match.length; i < len; i += 4) {
          parts.push(match.substring(i, i + 4))
        }

        if (parts.length) {
          return parts.join(' ')
        } else {
          return props.cardnumber
        }
      })

      return {
        getMonthNumber,
        getYearShorthand,
        cardImage,
        formatCC
      }
    }
  }
)
</script>

<style lang="postcss" scoped>

#card-number {
  top: 58%;
  @apply left-8;
}

</style>
