<template>
  <label class="w-full">
    <span>Monat</span>
    <select name="expiration-month" :value="currMonth" @input="$emit('input', getInputValue($event))"
            id="expiration-month" class="h-12 w-full rounded-lg border border-blue-300 shadow-inner px-4 mr-2">
      <option value="" disabled>Monat</option>
      <option v-for="month in months" :value="month" :key="month">{{ month }}</option>
    </select>
  </label>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MonthSelect',
  data () {
    return {
      months: {
        0: 'Januar',
        1: 'Februar',
        2: 'März',
        3: 'April',
        4: 'Mai',
        5: 'Juni',
        6: 'Juli',
        7: 'August',
        8: 'September',
        9: 'Oktober',
        10: 'November',
        11: 'Dezember'
      }
    }
  },
  props: {
    currMonth: String
  },
  methods: {
    getInputValue (event: Event) {
      return (event.target as HTMLInputElement).value
    }
  }
})
</script>

<style scoped>

</style>
