<template>
  <label class="w-full">
    <span>Jahr</span>
    <select name="expiration-month" id="expiration-month" :value="currYear" @input="$emit('input', getInputValue($event))"
            class="h-12 w-full rounded-lg border border-blue-300 shadow-inner px-4 mr-2">
      <option value="" disabled>Jahr</option>
      <option v-for="year in years" :value="year" :key="year">{{ year }}</option>
    </select>
  </label>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'YearSelect',
  data () {
    return {
      years: [
        2020,
        2021,
        2022,
        2023,
        2024,
        2025,
        2026,
        2027,
        2028,
        2029
      ]
    }
  },
  props: {
    currYear: Number
  },
  methods: {
    getInputValue (event: Event) {
      return (event.target as HTMLInputElement).value
    }
  }
})
</script>

<style scoped>

</style>
