<template>
  <div class="font-body">
    <navbar />
    <div
      class="mt-16">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import './assets/css/tailwind.css'
import { defineComponent } from 'vue'
import Navbar from './components/Navbar.vue'

export default defineComponent({
  name: 'App',
  components: { Navbar }

})
</script>
